swagger: "2.0"
info:
  description: "This is a free, open source API about cars and its informations"
  version: "1.0.0"
  title: "Car API"
  contact:
    email: "luiz.adolphs@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "car.io"
basePath: "/v1"
tags:
- name: "car"
  description: "All cars databases"
  externalDocs:
    description: "Find out more"
    url: "http://car.io"
schemes:
- "http"
paths:
  /car/{carId}:
    get:
      tags:
      - "car"
      summary: "Find pet car ID"
      description: "Returns a single car"
      operationId: "getPetById"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "carId"
        in: "path"
        description: "ID of car to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/car"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Car not found"
      security:
      - api_key: []
  /car/name:
    get:
      tags:
      - "car"
      summary: "Return cars by name"
      description: "Returns a map of cars by name using like operation"
      operationId: "getInventory"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
      security:
      - api_key: []

definitions:
  region:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      regionId:
        type: "integer"
        format: "int64"
      name:
        type: "string"
  country:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      countyId:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      region:
        $ref: "#/definitions/region"
  brand:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      countyId:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      region:
        $ref: "#/definitions/region"
  car:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      carId:
        type: "integer"
        format: "int64"
      year:
        type: "integer"
        format: "int32"
      name:
        type: "string"
      country:
        $ref: "#/definitions/country"
  apiresponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"